/* Colors */
@define-color dark #2e3440;
@define-color dark-highlight #4c566a;
@define-color light #eceff4;
@define-color light-highlight #d8dee9;
@define-color primary #81a1c1;
/* Main Config */
* {
    border: none;
    border-radius: 5px;
    min-height: 0;
    font-family: "Hack Nerd Font";
    font-weight: 500;
    font-size: 18px;
    padding: 0;
}


#waybar{
    background-color: transparent;
}

.modules-left,
.modules-center,
.modules-right {
    background: @dark;
}

tooltip {
    background-color: @dark;
    border: 2px solid @light;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio,
#language {
    margin: 6px 6px 6px 6px;
    padding: 2px 8px;
}

#workspaces {
    margin: 6px 6px 6px 6px;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 4px;
    color: @light;
}

#workspaces button.active {
    color: @primary;
}

#cpu,
#memory,
#network,
#pulseaudio,
#battery,
#tray,
#workspaces,
#clock,
#language {
    background-color: @dark;
    color: @light;
}
